<div
  class="modal fade"
  id="{{modal_id}}"
  tabindex="-1"
  aria-labelledby="{{modal_id}}Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="title">{{title}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{{action}}" id="{{modal_id}}Form" method="post">
          {% csrf_token %} {% block modal_body %} {% endblock modal_body %}
          <!-- Submit Button -->
          <button type="submit" id="submitButton" class="btn custom-btn-primary w-100">
            {{submit_button}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
