/* Floating button styles */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary);
  border: none;
  border-radius: 40%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
} 


/* Activity list styles */
.activity-list {
  position: fixed;
  bottom: 90px; /* Adjust this to position the list above the button */
  right: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 10px;
  padding-bottom: 0;
  display: none; /* Initially hidden */
  z-index: 999;
}

.activity-list ul {
  list-style-type: none;
  padding: 0;
}

.activity-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.activity-list li:hover {
  background-color: var(--secondary);
}
