{% extends 'header.html' %}  {% load static %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-10 col-md-8 col-lg-4">
      <form
        method="post"
        action="/changePassword/"
        style="margin-top: 35%"
      >
      {{msg}}
        {% csrf_token %}
        <p class="fs-4" style="color:#2b6b32;">Update Password</p>
        
        <div class="mb-3">
          <input
            type="password"
            placeholder="Current Password"
            class="form-control"
            name="old_password"
            style="line-height:2rem"
            id="opassword"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            placeholder="Password"
            class="form-control"
            name="password"
            style="line-height:2rem"
            id="password"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            placeholder="Confirm Password"
            class="form-control"
            name="c_password"
            style="line-height:2rem"
            id="cpassword"
          />
        </div>
        <div class="mb-3">
          <button
            type="submit"
            class="btn btn-primary form-control"
            style="background-color: #2b6b32; border: none; line-height:2.2rem"
          >
            Change Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
