{% extends 'index.html' %} {% load static %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4">
      <form
        method="post"
        action="/forgotPassword/"
        class="border rounded p-5"
        style="margin-top: 45%; background-color: #abf3b3"
      >
      <p class="text-danger mb-0">{{msg}}</p>  
        {% csrf_token %}
        <h6 class="text-success">Forgot Password</h6>
        <p class="mb-3 text-secondary">Password Will be Sent to link Email</p>
        <div class="mb-3">
          <input
            type="text"
            placeholder="Username"
            class="form-control"
            name="username"
            id="username"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <button
            type="submit"
            class="btn btn-primary form-control"
            style="background-color: #2b6b32; border: none"
          >
            Submit
          </button>
          
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
