{% extends 'index.html' %} {% load static %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-10 col-md-8 col-lg-4">
      <form
        method="post"
        action="/forgotPassword/"
        style="margin-top: 45%;"
      >
        {% csrf_token %}
        <h6 class=" mb-3 text-success">Forgot Password</h6>
        <p class="mb-3 text-secondary">Password Will be Sent to registered Email</p>
        <div class="mb-3">
          <input
            type="text"
            placeholder="username/email"
            class="form-control"
            name="username"
            style="line-height:2rem"
            id="username"
            aria-describedby="emailHelp"
          />
        </div>
              <p class="text-danger mb-0">{{msg}}</p>
        <div class="mb-3">
          <button
            type="submit"
            class="btn btn-primary form-control"
            style="background-color: #2b6b32; border: none; line-height:2.2rem"
          >
            SUBMIT
          </button>
          
        </div>
      </form>
        <div class="d-flex justify-content-center">
          <a class="text-secondary text-decoration-none" href="/">Password Remembered? &nbsp; <b class="text-success">LOGIN</b></a>
        </div>
    </div>
  </div>
</div>
{% endblock body %}
