{% extends 'index.html' %} {% load static %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-10 col-md-8 col-lg-4">
      <form
        method="post"
        action="/signup/"
        style="margin-top: 30%;"
      >
      <p class="text-danger mb-0">{{msg}}</p>  
        {% csrf_token %}
        <h3 class="mb-4 text-secondary  text-center">Welcome to <span class="text-success">Go-Expense</span></h3>
        <p class="fs-4 text-success text-center">Sign-Up</p>

        <div class="mb-3">
          <input
            type="text"
            placeholder="Name"
            class="form-control"
            name="name"
            id="name"
            style="line-height:2rem"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            placeholder="Username"
            class="form-control"
            name="username"
            id="username"
            style="line-height:2rem"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            placeholder="Email"
            class="form-control"
            name="email"
            id="email"
            style="line-height:2rem"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            placeholder="Password"
            class="form-control"
            style="line-height:2rem"
            name="password"
            id="password"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            placeholder="Re-Enter Password"
            class="form-control"
            style="line-height:2rem"
            name="rpassword"
            id="rpassword"
          />
        </div>
        <div class="mb-3">
         <button
            type="submit"
            class="btn btn-primary form-control"
            style="background-color: #2b6b32; border: none; line-height:2.2rem"
          >
            SIGN UP
          </button>
          <hr>
        </div>

      </form>
        <div class="d-flex justify-content-center">
          <a class="text-secondary text-decoration-none" href="/">Already have an Account? &nbsp; <b class="text-success">LOGIN</b></a>
        </div>
    </div>
  </div>
</div>
{% endblock body %}
