accounts/templates/example.html
accounts/templates/addEMI.html
accounts/templates/expense.html
accounts/templates/loanadd.html
backup/

# Ignore database files
*.sqlite3
*.db
*.bin

# Ignore static and media files (served by Django during development)
/staticfiles/
/media/

# Ignore log files
*.log

# Ignore local development settings
local_settings.py

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE and editor-specific files
.vscode/
*.idea/
*.pyc

# Ignore environment and virtual environment files
.env
.venv
venv/
env/
myenv/


# Ignore pipenv virtual environment
Pipfile.lock

# Ignore system-specific files
.DS_Store
Thumbs.db

commands/decrypt.py
accounts/management/commands/decrypt.py
