{% extends 'header.html' %} {% load static %} {% block body %}

<h5 class="text-center text-success mt-3" id = "key">DELETED TRANSACTIONS</h5>





<div class="row mx-2 table-responsive">
  <form method="POST" action="/undo-transaction/">
    {% csrf_token %}
    <table id ='myTable' class="table">
        <thead>
          <tr>
            <th scope="col" ><input type="checkbox" id="select-all-checkbox"></th>
                   <th scope="col" > <a href="/transaction-detail/" class="btn btn-secondary" style="background-color:rgb(77, 168, 104);"><i class="fa-solid fa-square-poll-horizontal"></i></a>
            </th>
            <th scope="col" class="text-success">TYPE</th>
            <th scope="col" class="text-success">CATEGORY</th>
            <th scope="col" class="text-success">AMOUNT</th>
            <th scope="col" class="text-success">DATE</th>
            <th scope="col" class="text-success">BENEFICIARY</th>
            <th scope="col" class="text-success">DESCRIPTION</th>
            <th scope="col" class="text-success">DELETED</th>
           <th scope="col" class="text-center" ><button type="submit" class="border-0 text-success bg-transparent"><b>UNDO SELECTED</b></button></th>


          </tr>
        </thead>
        <tbody>
          {% if data %} {% for i in data %}
          <tr>
            <td><input type="checkbox"  id="select" name="record_ids" value={{ i.id }}></td>
            <td scope="row">{{forloop.counter}}</td>
            <td>{{i.type}}</td>
            <td>{{i.category}}</td>
            <td>{{i.amount }}</td>
            <td>{{i.date | date:"d M Y" }}</td>
            <td>{{i.beneficiary}}</td>
            <td >{{i.description}}</td>
            <td >{{i.deleted_at}}</td>
            <td class="text-center"><a href="/undo-transaction/{{i.id}}"><i class="fa-solid text-success fa-rotate-left"></i></a></td>
          </tr>
          {% endfor %}{% else %}
          <td colspan="8" class="text-center">No Records found</td>
          {% endif %}
        </tbody>
        
      </table>
    </form>
</div>



{% endblock body %}

{% block script %}
<script>
  document.getElementById("select-all-checkbox").addEventListener("change", function() {
    var checkboxes = document.getElementsByName("record_ids");
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = this.checked;
    }
  });
</script>
{% endblock script %}
