    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title text-center text-success fs-5" id="exampleModalLabel">Filter Report</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                  <form action="/transaction-detail/" method="get">
                      <!-- Type -->
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="type"   {% if "Expense" in data.type  %} checked {% endif %} type="checkbox" id="inlineCheckbox1" value="Expense">
                        <label class="form-check-label" for="inlineCheckbox1">Expense</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="type" {% if "Income" in data.type  %} checked {% endif %} type="checkbox" id="inlineCheckbox2" value="Income">
                        <label class="form-check-label" for="inlineCheckbox2">Income</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="type" {% if "Loan" in data.type  %} checked {% endif %} type="checkbox" id="inlineCheckbox2" value="Loan">
                        <label class="form-check-label" for="inlineCheckbox2">Loan</label>
                      </div>

                    <!-- Category and Mode -->
                    <div class="d-flex my-3 justify-content-between">
                                              <div class="col-12 col-md-4">
                      <select
                      class="form-select text-center border-0"
                      name="category"
                      aria-label="Default select example"
                    >
                      <option {% if data.category == "" %} selected {% endif %} value="">-- Category --</option>
                      <option {% if data.category == "Shopping" %} selected {% endif %} value="Shopping">Shopping</option>
                      <option {% if data.category == "Food" %} selected {% endif %} value="Food">Food</option>
                      <option {% if data.category == "EMI" %} selected {% endif %} value="EMI">EMI</option>
                      <option {% if data.category == "Other" %} selected {% endif %} value="Other">Other</option>
                      <option {% if data.category == "Salary" %} selected {% endif %} value="Salary">Salary</option>
                     </select>
                                              </div>
                      <div class="col-12 col-md-4">
                         <select
                      class="form-select text-center border-0"
                      name="mode"
                      aria-label="Default select example"

                    >
                      <option {% if data.mode == "" %} selected {% endif %} value="">-- Mode --</option>
                      <option {% if data.mode == "CreditCard" %} selected {% endif %} value="CreditCard">CreditCard</option>
                      <option {% if data.mode == "Online" %} selected {% endif %} value="Online">Online</option>
                      <option {% if data.mode == "Cash" %} selected {% endif %} value="Cash">Cash</option>
                    </select>
                                                                        </div>
                                              <div class="col-12 col-md-4">

                                                <select
                      class="form-select text-center border-0"
                      name="status"
                      aria-label="Default select example"
                    >
                      <option {% if data.mode == ""  %} selected {% endif %} value="">-- Status --</option>
                      <option {% if data.mode == "Completed"  %} selected {% endif %} value="Completed">Completed</option>
                      <option {% if data.mode == "Pending" %} selected {% endif %} value="Pending">Pending</option>
                    </select>
                        </div>

                        </div>

                      <!-- Beneficiary -->
                    <div class="mb-2">

                      </div>

                    <!-- Date and Status -->

                    <div class="d-flex mb-2 justify-content-between">
                         <div class="col-12 col-md-4">
                                                   <input
                          type="text"
                          class="form-control text-center border-0"
                          id="beneficiary"
                          name ="beneficiary"
                          placeholder="Beneficiary"
                          value = '{{data.beneficiary}}'
                      >
                      </div>
                      <div class="col-12 col-md-6">
                        <input type="text"  class="form-control border-0" onload=""  value="{{ data.daterange }}" id="daterange" name="daterange">
                      </div>



                    </div>
                  <button type="submit" class="btn btn-outline-success col-12 mb-3">Filter<i class="ms-1 fa-solid fa-filter"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script>
        if ($('#daterange').val()){
        datee = $('#daterange').val().split("-")
        var start = datee[0];
         var end = datee[1];
}else{
        var start = moment().startOf('month');
         var end = moment().endOf('month');
}
         function cb(start, end) {
             $('#daterange').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
         }

         $('#daterange').daterangepicker({
             startDate: start,
             endDate: end,
              locale: {
            format: 'DD/MM/YYYY'
         },
         autoApply:true,
         showDropdowns:true,
         linkedCalendars:false,
         opens:'center',
             ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Current Year' : [moment().startOf('year'), moment()],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Last Year' : [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
             }
         }, cb);
 if ($('#daterange').val()==''){
         cb(start, end);
}
    </script>
