{% extends 'header.html' %} {% load static %} {% block body %}

<!-- Filter Grid -->
<div class="row mx-3 mt-3 mb-2 justify-content-end">
    <div class="col-2 col-md-1 text-end mb-3">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-filter"></i>
      </button>
    </div>
    <div class="col-8 col-md-3">
      <form class="d-flex" action="/transaction-detail/" method="get">

          <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>

    <div class="col-9 col-md-1 ">
      <a href= "/transaction-detail/" class="btn btn btn-outline-danger form-control">Clear</a>
    </div>
    <div class="col-3 col-md-1">
      <button type="button" onclick="generateCSV()" id ="export-csv-button" class="btn btn-success form-control"><i class="fa-solid fa-file-csv"></i></button>
    </div>

</div>
{% if key %}
<p  class="mt-3 ms-5 text-secondary">Keyword :<b><span id="key" class=" text-success">{{key}}</span></b></p>
{% elif data %}
<p  class="mt-3 ms-5 text-secondary">Keywords :
  {% for j,i in data.items %}
 {% if  i != ""  %}
 {% if j == "type"  %}
            {% for item in i %}
                <b><span id="key" class="text-success">{{ item }},</span></b>
            {% endfor %}
        {% else %}
            <b><span id="key" class="text-success">{{ i }},</span></b>
        {% endif %}
  {% endif %}
  {% endfor %}
</p>
{% else %}
<span id="key" class=" text-success visually-hidden">Expense_Report</span>
{% endif %}

<!-- Details -->
<div class="container-fluid mt-4 px-5">
  <div class="row">
    <!-- First Section -->
    <div class="col-12 col-md-5 mb-3">
      <div class="d-flex flex-wrap">
        <p class="fs-6 me-3 text-secondary">Income: <b><span class="text-success">{{transaction_calculation.income}}</span></b></p>
        <p class="fs-6 me-3 text-secondary">Expense: <b><span class="text-danger">{{transaction_calculation.expense}}</span></b></p>
        <p class="fs-6 me-3 text-secondary">EMI: <b><span class="text-info">{{transaction_calculation.emi}}</span></b></p>
        <p class="fs-6 text-secondary">Investment: <b><span class="text-info">{{transaction_calculation.investment}}</span></b></p>
      </div>
    </div>

    <!-- Second Section -->
    <div class="col-12 col-md-7">
      <div class="d-flex flex-wrap justify-content-md-end">
        <p class="text-secondary fs-6 me-3">Previous Pending: <b><span class="text-warning">{{transaction_calculation.previous_pending}}</span></b></p>
        <p class="text-secondary fs-6 me-3">Pending Expense: <b><span class="text-warning">{{transaction_calculation.pending_amount}}</span></b></p>
        <p class="text-secondary fs-6 me-3">Paid Expense: <b><span class="text-success">{{transaction_calculation.paid_amount}}</span></b></p>
        <p class="text-secondary fs-6">Balance: <b><span class="{% if transaction_calculation.total < 0 %}text-danger{% else %}text-success{% endif %}">{{transaction_calculation.total}}</span></b></p>
      </div>
    </div>
  </div>
</div>


<div class="row mx-2 table-responsive">

  <form method="POST" action="/delete-transaction/  ">
  {% csrf_token %}
  <table id ='myTable' class="table">
    <thead>
      <tr>
        <th scope="col" ><input type="checkbox" id="select-all-checkbox"></th>
        <th scope="col" ><button type="submit" class="border-0 bg-transparent"><i class="fa-solid text-info fa-trash"></i></button></th>
        <th scope="col" class="text-success text-center">STATUS</th>
        <th scope="col" class="text-success">TRANSACTION DATE</th>
        <th scope="col" class="text-success">TYPE</th>
        <th scope="col" class="text-success">CATEGORY</th>
        <th scope="col" class="text-success">AMOUNT (₹.)</th>
        <th scope="col" class="text-success" >BENEFICIARY&nbsp;<i class="fa-solid fa-circle-info" onClick="hiddendiscription()"></i></th>
        <th scope="col" id="th-desc" hidden="true" class="text-success">DESCRIPTION</th>
        <th scope="col" class="text-success" colspan="2" > ACTIONS</th>

      </tr>
    </thead>
    <tbody>
      {% if transaction_data %} {% for i in transaction_data %}
      <tr>
        <td><input type="checkbox" onchange="reviseTotal()" id="select" name="record_ids" value={{ i.id }}></td>
        <td scope="row">{{forloop.counter}}</td>
        <td class="text-center"><a href="/update-transaction-status/{{i.id}}">{% if i.status == 'Completed' %}<i class="fa-solid fa-circle-check" style="color: #107556"></i> {%else%} <i class="fa-solid fa-circle-exclamation" style="color: #ecd06a;"></i>{%endif%}</a></td>
        <td>{{i.date}}</td>
        <td>{{i.type}}</td>
        <td>{{i.category}}</td>
        <td class="{% if i.type == 'Expense' %}text-danger{% else %}text-success{% endif %}">
        {{i.amount | floatformat:2}}</td>
        <td>{{i.beneficiary}}</td>
        <td class="td-desc" hidden="true">{{i.description}}</td>

        <td><a href="" data-bs-toggle="modal" data-bs-target="#editExpenseModal" onclick="openModalAndGetExpense({{ i.id }})"><i class="fa-solid text-warning fa-pen"></i></a></td>

        <td><a href="/delete-transaction/{{i.id}}"><i class="fa-solid text-danger fa-trash"></i></a></td>

      </tr>

      {% endfor %}{% else %}
      <td colspan="8" class="text-center">No Records found</td>
      {% endif %}
    </tbody>

  </table>
</form>
</div>
<!-- Filter Modal -->
{% include 'transaction/filterModal.html' with data=data categories=categories %}

<!-- Edit Transaction Modal -->
{% include 'transaction/editTransactionModal.html' %}

{% endblock body %}

{% block script %}

<script src="../static/js/transactionReport.js"></script>

<!-- Edit Function-->
<script src="../static/js/updateTransaction.js"></script>

{% endblock script %}


