{% extends 'header.html' %} 
{% load static %} 
{% block body %}

<!-- Filter Grid -->
<div class="row mx-3 mt-4 mb-4 justify-content-between align-items-center">
  <!-- Filter Button (Mobile Full Width, Desktop Centered) -->
  <div class="col-12 col-md-3 text-center text-md-start mb-3 mb-md-0">
      <button type="button" class="btn btn-lg custom-btn-primary shadow-sm w-100 w-md-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-filter"></i> Filter
      </button>
  </div>

  <!-- Search Bar (Mobile Full Width, Desktop Centered) -->
  <div class="col-12 col-md-6 text-center mb-3 mb-md-0">
      <form class="d-flex w-100" action="/transaction-detail/" method="get">
          <div class="input-group">
              <input class="form-control form-control-lg shadow-sm" type="search" name="search" placeholder="Search transactions..." aria-label="Search">
              <button class="btn btn-lg custom-btn-primary border shadow-sm" type="submit">
                  <i class="fa-solid fa-search"></i>
              </button>
          </div>
      </form>
  </div>

  <!-- Action Buttons (Mobile Stacked, Desktop Inline) -->
  <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-end mb-3 mb-md-0">
      <!-- Clear Button -->
      <a href="/transaction-detail/" class="btn btn-lg custom-btn-danger w-100 w-md-auto me-md-2 shadow-sm" >
          <i class="fa-solid fa-broom"></i> 
      </a>

      <!-- Export CSV Button -->
      <button type="button" disabled onclick="generateCSV()" id="export-csv-button" class="btn btn-lg custom-btn-primary w-100 w-md-auto mx-2 shadow-sm">
          <i class="fa-solid fa-file-csv" ></i> 
      </button>

      <!-- Deleted Entries Button -->
      <a href="/deleted-transaction-detail/" class="btn btn-lg  custom-btn-primary w-100 w-md-auto shadow-sm">
          <i class="fa-solid fa-trash-can" ></i> 
      </a>
  </div>
</div>


<!-- Keyword Display -->
{% if key %}
    <p class="mt-3 ms-5 text-secondary">Keyword : <b><span id="key" style="color: var(--primary-dark);">{{ key }}</span></b></p>
{% elif data %}
    <p class="mt-3 ms-5 text-secondary">Keywords:
        {% for j, i in data.items %}
            {% if i != "" %}
                {% if j == "type" %}
                    {% for item in i %}
                        <b><span id="key" style="color: var(--primary-dark);">{{ item }},</span></b>
                    {% endfor %}
                {% else %}
                    <b><span id="key" style="color: var(--primary-dark);">{{ i }},</span></b>
                {% endif %}
            {% endif %}
        {% endfor %}
    </p>
{% else %}
    <span id="key" class="text-success visually-hidden">Expense_Report</span>
{% endif %}

<!-- Summary Section (Responsive Card Layout) -->
<div class="container-fluid mt-4">
  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card shadow-sm h-100">
              <div class="card-body">
                  <!-- <p class="fs-6 text-secondary mb-2">Income: <b><span class="text-success">₹ {{ transaction_calculation.income }}</span></b></p> -->
                  <p class="fs-6 text-secondary mb-2">Expense: <b><span  style="color: #d9534f;">₹ {{ transaction_calculation.expense }}</span></b></p>
                  <p class="fs-6 text-secondary mb-2">Balance: <b><span style="color: #495057;">₹ {{ transaction_calculation.total }}</span></b></p>
              </div>
          </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body">
              <p class="fs-6 text-secondary mb-2">EMI: <b><span style="color: #5bc0de;">₹ {{ transaction_calculation.emi }}</span></b></p>
              <p class="fs-6 text-secondary mb-2">Investment: <b><span style="color: #6f42c1;">₹ {{ transaction_calculation.investment }}</span></b></p>
            </div>
        </div>
    </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card shadow-sm h-100">
              <div class="card-body">
                  <p class="fs-6 text-secondary mb-2">Previous Pending: <b><span style="color: #f39c12;">₹ {{ transaction_calculation.previous_pending }}</span></b></p>
                  <p class="fs-6 text-secondary mb-2">Pending Expense: <b><span style="color: #ffcc00;">₹ {{ transaction_calculation.pending_amount }}</span></b></p>
                  <!-- <p class="fs-6 text-secondary mb-2">Paid Expense: <b><span class="text-success">₹ {{ transaction_calculation.paid_amount }}</span></b></p> -->
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Table with Data -->
<div class="table-responsive mx-2" style="max-height: 370px; overflow-y: auto; overflow-x: auto;">
    <form method="POST" action="/delete-transaction/">
        {% csrf_token %}
        <table class="table table-striped table-hover">
            <thead class="table-light sticky-top">
                <tr>
                    <th><input type="checkbox" id="select-all-checkbox"></th>
                    <th></th>
                    <th class="text-center">Status</th>
                    <th>Transaction Date</th>
                    <th>Type&nbsp;<i class="fa-solid fa-circle-info" style="color: var(--primary);" onClick="hiddendiscription()"></i></th>
                    <th>Category</th>
                    <th>Amount (₹.)</th>
                    <th scope="col"  >Beneficiary</th>
                    <th id="th-desc" hidden="true" >Description</th>
                    <!-- <th >Manage</th> -->
                    <th ><button class="btn p-0" type="submit"><i class="fa-solid fa-trash-alt" style="color: #dc3545;"></i></button> Bulk</th>
                </tr>
            </thead>
            <tbody>
                {% if transaction_data %}
                    {% for i in transaction_data %}
                        <tr>
                            <td><input type="checkbox" name="record_ids" value="{{ i.id }}" onchange="reviseTotal()"></td>
                            <td>{{ forloop.counter }}</td>
                            <td class="text-center">
                                <a href="/update-transaction-status/{{ i.id }}">
                                    {% if i.status == 'Completed' %}
                                        <i class="fa-solid fa-circle-check text-success"></i>
                                    {% else %}
                                        <i class="fa-solid fa-circle-exclamation text-warning"></i>
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ i.date }}</td>
                            <td><a href="#" class="text-decoration-none" style="color: var(--primary-dark-secondary);" data-bs-toggle="modal" data-bs-target="#editExpenseModal" onclick="openModalAndGetExpense({{ i.id }})">{{ i.type }}</a></td>
                            <td>{{ i.category }}</td>
                            <td class="">{{ i.amount | floatformat:2 }}</td>
                            <td>{{ i.beneficiary }}</td>
                            <td class="td-desc" hidden>{{ i.description }}</td>

                            <!-- <td><a href="#" data-bs-toggle="modal" data-bs-target="#editExpenseModal" onclick="openModalAndGetExpense({{ i.id }})"><i class="fa-solid fa-pencil-alt" style="color: #007bff;"></i></a></td> -->
                           
                            <td >
                              <button 
                                type="button" 
                                class="btn custom-btn-danger border-0 btn-sm "
                                data-bs-toggle="modal" 
                                data-bs-target="#confirmDeleteModal" 
                                style="background: None;"
                                data-delete-url="/delete-transaction/{{ i.id }}">
                                <i class="fa-solid fa-trash-alt" style="color: #dc3545;"></i> 
                              </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="10" class="text-center">No Records Found</td></tr>
                {% endif %}
            </tbody>
        </table>
    </form>
</div>

  <!-- Individual Delete Confirmation Modal -->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="confirmDeleteLabel">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this transaction?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="#" class="btn btn-outline-danger" id="confirmDeleteButton">Confirm Delete</a>
        </div>
      </div>
    </div>
  </div>

<!-- Filter Modal -->
{% include 'transaction/filterModal.html' with data=data categories=categories %}

<!-- Edit Transaction Modal -->
{% include 'transaction/editTransactionModal.html' %}

{% endblock body %}

{% block script %}
<script src="../static/js/transactionReport.js"></script>
<script src="../static/js/updateTransaction.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const modal = document.getElementById('confirmDeleteModal');
    modal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget; // Button that triggered the modal
      const undoUrl = button.getAttribute('data-delete-url'); // Extract URL from data attribute
      const confirmButton = modal.querySelector('#confirmDeleteButton');
      confirmButton.setAttribute('href', undoUrl); // Set the URL on the confirm button
    });
  });
</script>
{% endblock script %}
