<!-- Add Task Modal -->
<div class="modal fade" id="taskmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/addTask/" method="post" id="myTaskForm">
                    {% csrf_token %}
                    <select
                        class="form-select mb-3"
                        name="priority"
                        id = "priority"
                        aria-label="Default select example"
                    >
                        <option selected>-- Priority --</option>
                        <option value="High">High</option>
                        <option selected value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                    <div class="mb-3">
                        <input
                            type="date"
                            class="form-control"
                            name="complete_by_date"
                            id="complete_by"
                            onchange="dateCheck()"
                            aria-describedby="complete_by"
                        />
                    </div>
                    <div class="mb-3">
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            placeholder="Task Title"
                            id="title"
                            required
                        />
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="description" placeholder="Leave a comment here" id="descirption"></textarea>
                        <label for="descirption">Task Detail</label>
                    </div>
                    <button
                        type="submit"
                        id="submitbutton"
                        style="background-color: #2b6b32; border: none"
                        class="btn btn-primary"
                    >
                        Add Task
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('complete_by').value = new Date().toISOString().split('T')[0]
</script>
