{% extends 'header.html' %}  {% load static %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-md-4">
      <form
        method="post"
        action="/changePassword/"
        class="border rounded p-5"
        style="margin-top: 35%"
      >
      {{msg}}
        {% csrf_token %}
        <h3 class="mb-3 text-success">Update Password</h3>
        
        <div class="mb-3">
          <input
            type="password"
            placeholder="Old Password"
            class="form-control"
            name="old_password"
            id="opassword"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            placeholder="Password"
            class="form-control"
            name="password"
            id="password"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            placeholder="Confirm Password"
            class="form-control"
            name="c_password"
            id="cpassword"
          />
        </div>
        <div class="mb-3">
          <button
            type="submit"
            class="btn btn-primary form-control"
            style="background-color: #2b6b32; border: none"
          >
            Change Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
