{% extends 'header.html' %} {% load static %} {% block body %}

<h5 class="text-center text-success mt-3" id = "key">Deleted Expense Entries</h5>





<div class="row mx-2 table-responsive">
  <form method="POST" action="{% url 'undoMultipleDelEntries' %}">
    {% csrf_token %}
    <table id ='myTable' class="table">
        <thead>
          <tr>
            <th scope="col" ><input type="checkbox" id="select-all-checkbox"></th>
            <th scope="col" ><button type="submit" class="border-0 bg-transparent"><i class="fa-solid text-info fa-rotate-left"></button></th>
            <th scope="col" class="text-success">Type</th>
            <th scope="col" class="text-success">Category</th>
            <th scope="col" class="text-success">Amount</th>
            <th scope="col" class="text-success">Payment_Date</th>
            <th scope="col" class="text-success">Payment_Time</th>
            <th scope="col" class="text-success">Paid_For</th>
            <th scope="col" class="text-success">Description</th>
            {% comment %} <th scope="col" class="text-success">Date_Created</th> {% endcomment %}
            <th scope="col" > <a href="/reports/" class="btn btn-secondary" style="background-color:rgb(77, 168, 104);"><i class="fa-solid fa-square-poll-horizontal"></i></a>
            </th>
           
          </tr>
        </thead>
        <tbody>
          {% if data %} {% for i in data %}
          <tr>
            <td><input type="checkbox" onchange="reviseTotal()" id="select" name="record_ids" value={{ i.id }}></td>
            <td scope="row">{{forloop.counter}}</td>
            <td>{{i.payment_type}}</td>
            <td>{{i.category}}</td>
            {% if i.payment_type == 'Expense' %}
            <td>-{{i.amount | floatformat:2}}</td>
            {% else %}
            <td>{{i.amount | floatformat:2}}</td>
            {% endif %}
            <td>{{i.payment_date | date:"d M Y" }}</td>
            <td>{{i.payment_date | date:"H:i:s" }}</td>
            <td>{{i.payment_for}}</td>
            <td >{{i.description}}</td>
            {% comment %} <td>{{i.created_at | date:"d M Y" }}</td> {% endcomment %}
            <td><a href={% url 'undoDelEntries' i.id %}><i class="fa-solid text-success fa-rotate-left"></i></a></td>
          </tr>
          {% endfor %}{% else %}
          <td colspan="8" class="text-center">No Records found</td>
          {% endif %}
        </tbody>
        
      </table>
    </form>
</div>



{% endblock body %}

{% block script %}
<script>
  document.getElementById("select-all-checkbox").addEventListener("change", function() {
    var checkboxes = document.getElementsByName("record_ids");
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = this.checked;
    }
  });
</script>
{% endblock script %}
