{% extends 'header.html' %} {% load static %} {% block body %}
<div class="container-fluid ">
  <div class="row justify-content-center">
    <div class="col-12 col-md-4 pt-5 px-5">
      <form action="/editEntry/{{entry.id}}" method="post">
        {% csrf_token %}
        
        <div  class="form-check form-check-inline mb-3">
          <input
            class="form-check-input"
            type="radio"
            name="payment_type"
            id="Expense"
            value="Expense"
             {% if entry.payment_type == "Expense" %}
             checked
             {% endif %}
             onchange="payType()"
            required
          />
          <label class="form-check-label" for="Expense">Expense</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="payment_type"
            id="Income"
            value="Income"
            {% if entry.payment_type == "Income" %}
            checked
            {% endif %}
            onchange="payType()"
          />
          <label class="form-check-label" for="Income">Income</label>
        </div>
      
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="payment_type"
            id="Loan"
            value="Loan"
            {% if entry.payment_type == "Loan" %}
            checked
            {% endif %}
            onchange="payType()"
          />
          <label class="form-check-label" for="Income">Loan</label>
        </div>
      
        <select
          class="form-select mb-3"
          id = "category"
          name="category"
          onchange="loanCategory()"
          aria-label="Default select example"
        >
          <option  {% if entry.category == "" %} selected {% endif %} value="">-- Category --</option>
          <option {% if entry.category == "M_Loan" or "Salary"  %}selected{% endif %} value="M_Loan">Loan</option>
          <option {% if entry.category == "Personal" %}selected{% endif %} value="Personal">Personal</option>
          <option {% if entry.category == "Food" %}selected{% endif %} value="Food">Food</option>
          <option {% if entry.category == "Shopping" %}selected{% endif %} value="Shopping">Shopping</option>
        </select>
        
        <div class="mb-3">
          <input
            type="datetime-local"
            class="form-control"
            name="payment_date"
            id="date"
            aria-describedby="emailHelp"
            value="{{ entry.payment_date|date:'Y-m-d\TH:i' }}"
          />
        </div>

        <div class="mb-3">
          <input
            type="number"
            class="form-control"
            name="amount"
            placeholder="Amount"
            value={{entry.amount}}
            id="amount"
            aria-describedby="emailHelp"
            required
          />
        </div>
       
        <select
            class="form-select mb-3"
            name="payment_for"
            id = "payment_for"
            aria-label="Default select example"
            onchange="paymentFor()"
            
            >
            <option  {% if entry.payment_for == "" %} selected {% endif %} value="">- Payment For -</option>
            <option {% if entry.payment_for == "Mom" %}selected{% endif %} value="Mom">Mom</option>
            <option {% if entry.payment_for == "Dad" %}selected{% endif %} value="Dad">Dad</option>
            <option {% if entry.payment_for == "Myself" %}selected{% endif %} value="Myself">Myself</option>
            <option {% if entry.payment_for == "Home" %}selected{% endif %} value="Home">Home</option>
            {% with 'Mom, Dad, Myself, Home' as valid_options %}
            <option {% if entry.payment_for not in valid_options %}selected{% endif %} value="Other">Other</option>
            {% endwith %}  
          </select>
            <div class="mb-3">
                <input
                    type="text"
                    class="form-control"
                    name="payment_for"
                    style="display:none;"
                    id="payment_for_text"
                    {% with 'Mom, Dad, Myself, Home' as valid_options %}
                   {% if entry.payment_for not in valid_options %} value= {{entry.payment_for}} {% else %} value=""{% endif %}
                   {% endwith %} 
                   placeholder="payment_for"
                    aria-describedby="emailHelp"
                />
                </div>

        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="description"
            placeholder="Expense Description"
            value="{{entry.description}}"
            id="description"
            required
          />
        </div>

        <div class="mb-3" >
          <input
              type="text"
              class="form-control"
              name="loan_name"
              style="display:none"
              placeholder="Loan Name"
              id="loan_name"
              value="{{entry.description}}"
          />
          </div>


        <button
          type="submit"
          style="background-color: #2b6b32; border: none"
          class="btn btn-primary"
        >
          Edit
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock body %}

{% block script %}
<script src="../static/js/editExpense.js"></script>
{% endblock script%}