{% extends 'header.html' %} {% load static %} {% block body %}

  <h5 class="text-center text-success mt-3" id = "key">{{loanData.title}}- ₹{{loanData.amount}}</h5>



  <form class="row g-3 justify-content-center m-3" action="/addEMI/{{loanData.id}}" method="post">
    {% csrf_token %}
    <div class="col-md-3 col-10">
      <input
      type="datetime-local"
      class="form-control"
      name="paid_on"
      placeholder="paid_on"
      id="paid_on"
      required
    />    
</div>
    <div class="col-md-3 col-10">
      <input
      type="number"
      class="form-control"
      name="amount"
      placeholder="Amount"
      id="amount"
      value = {% widthratio emiData.0.amount 1 -1 %}
      aria-describedby="emailHelp"
      required
    />    
</div>
    <div class="col-md-3 col-10">
        <input
        type="text"
        class="form-control"
        name="note"
        placeholder="Note"
        id="note"
        value = "{{emiData.0.note}}"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="col-md-2 col-5">
        <button
        type="submit"
        {% comment %} style="background-color: #2b6b32; border: none" {% endcomment %}
        class="btn btn-success"
      >
        Pay EMI
      </button>    
    
    </div>
    <div class="col-md-1 col-5">
      <button type="button" onclick="generateCSV()" class="btn btn-success form-control"><i class="fa-solid fa-file-csv"></i></button>
    </div>
  </form> 




<div class="row mx-2 table-responsive">
  <table id ='myTable' class="table">
    <thead>
      <tr>
      <th scope="col"> <a href="/loanHome/" class="btn btn-secondary" style="background-color:rgb(77, 168, 104);"><i class="fa-solid fa-square-poll-horizontal"></i></a>
      </th>
        {% comment %} <th scope="col">Loan</th> {% endcomment %}
        <th scope="col">Paid_On</th>
        <th scope="col">Amount</th>
        <th scope="col">Detail</th>
        <th scope="col" colspan="2"></th>
        
       
      </tr>
    </thead>
    <tbody>
      
      {% if emiData %} {% for i in emiData %}
      <tr>
        <td scope="row">{{forloop.counter}}</td>
        {% comment %} <td>{{i.loan}}</td> {% endcomment %}
        <td>{{i.paid_on | date:"d-m-Y"}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.note}}</td>
        <td><a href="" data-bs-toggle="modal" data-bs-target="#editEMIModal" onclick="openModalAndGetData({{ i.id }})"><i class="fa-solid text-warning fa-pen"></i></a></td>
        <td></td>
        <td><a href={% url 'deleteEmi' i.id %}><i class="fa-solid text-danger fa-trash"></i></a></td>
        
      </tr>
      {% endfor %}{% else %}
      <td colspan="8" class="text-center">No Records found</td>
      {% endif %}
    </tbody>
    <tfoot>
      <tr >
        <td class="text-center border-0"  colspan="2"><b>Total Remaining<b></td>
        <td class=" border-0"><b>₹ {{total}}</b></td>
        <td class=" border-0" colspan="2"></td>
      </tr>
    </tfoot>
  </table>
</div>



<div class="modal fade" id="editEMIModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{loanData.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalContent">
        {% comment %} content here {% endcomment %}
      </div>
    </div>
  </div>
</div>


{% endblock body %}

{% block script %}

<script>
  function generateCSV() {
    var table = document.getElementById("myTable");
    var csvContent = "data:text/csv;charset=utf-8,";
    var cont = document.getElementById("key").textContent.split('-');
    console.log(cont)
    // Extract the table headers
    var headers = table.getElementsByTagName("th");
    var headerValues = [];
    for (var i = 0; i < headers.length; i++) {
      headerValues.push(headers[i].textContent);
    }
    csvContent += '"' + headerValues.join('","') + '"\r\n';
  
    // Extract the table data
    var rows = table.getElementsByTagName("tr");
    for (var i = 0; i < rows.length; i++) {
      var cells = rows[i].getElementsByTagName("td");
      var rowValues = [];
      
      // Extract cell values
      for (var j = 0; j < cells.length; j++) {
        // Wrap date values in double quotes
        if (j === 2) {
          rowValues.push('"' + cells[j].textContent + '"');
        } else {
          rowValues.push(cells[j].textContent);
        }
      }
  
      // Format the row as CSV and add to the content
      csvContent += rowValues.join(",") + "\r\n";
    }
  
    // Create a download link for the CSV file
    var encodedUri = encodeURI(csvContent);
    var link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", `${cont[0]}.csv`);
    document.body.appendChild(link);
  
    // Trigger the link to start the download
    link.click();
  }


  function openModalAndGetData(emiId) {
  // Make an AJAX request to your Django server to fetch data
  $.ajax({
    url: `/editEmi/${emiId}`,  // Replace with your Django URL
    type: 'GET',
    success: function(data) {
      console.log()
      var utcDate = new Date(data.paid_on);
      var localDate = new Date(utcDate.getTime() + utcDate.getTimezoneOffset() * 60000);

      // Format local date as a string for the input field
      var paymentDate = localDate.toISOString().slice(0, 16);
      var content = ` 
      <form class="m-2" action="/editEmi/${data.id}" method="post">
        {% csrf_token %}
      <input
      type="text"
      class="form-control my-2"
      name="loan"
      placeholder="loan"
      id="loan"
      value = "${data.loan}"
      
    />    
      <input
      type="datetime-local"
      class="form-control my-2"
      name="paid_on"
      placeholder="paid_on"
      id="paid_on"
      value = "${paymentDate}"
      required
    />    
      <input
      type="number"
      class="form-control my-2"
      name="amount"
      placeholder="Amount"
      id="amount"
      value = "${data.amount}"

      aria-describedby="emailHelp"
      required
    />    
        <input
        type="text"
        class="form-control my-2"
        name="note"
        placeholder="Note"
        id="note"
        value = "${data.note}"

        aria-describedby="emailHelp"
      />
      <button
      type="submit"
      class=" form-control btn btn-success my-2"
    >
      Update EMI
    </button>  
  </form>  `
      // Update the modal content with the fetched data
      $('#modalContent').html(content);
      // Show the modal
      $('#editEMIModal').modal('show');
    },
    error: function() {
      alert('Failed to fetch data.');
    }
  });
}

</script>
<script>
  // Get the current date and time in ISO format (YYYY-MM-DDTHH:MM)
  var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
  var currentDatetime = (new Date(Date.now() - tzoffset)).toISOString().slice(0, 16);
  // Set the value of the input field to the current date and time
  document.getElementById("paid_on").value = currentDatetime;
</script>
{% endblock script %}
