{% extends 'header.html' %} {% load static %} {% block body %}

<div class="row m-3 ">
{% for  i in loanData %}
    <div class="col-12 col-md-3 mb-3">
        <a class="text-decoration-none" href="/loanReport/{{i.id}}">
        <div class="card " >
                        <div class="card-body  text-end " {% if i.status == "Open" %} style="background-color:#e0f8e3;"
                {% else %}
   style="background-color:#eceeed;"
                {% endif %}>

                <h5 class="card-title {% if i.status == "Open" %} text-success {% else %} text-secondary {% endif %}> text-start ">{{i.title}} </h5>
             
            <p class="card-text text-secondary text-start  ">{{i.started_on | date:"d M Y"}} | {{i.status}} </p>

            {% if i.status == "Open" %}
            <a href="/updateLoanStatus/{{i.id}}" class="btn btn-secondary" style="background-color:#4da868d9;"><i class="fa-solid fa-square-check"></i></a>
            {% else %}
            <a href="/updateLoanStatus/{{i.id}}" class="btn btn-secondary" ><i class="fa-solid  text-white fa-square-xmark"></i></a>
            {% endif %}

            <a href="/deleteLoan/{{i.id}}"  class="btn btn-danger" ><i class="fa-solid  text-white fa-trash"></i></a>
            </div>
        </div>
    </a>
    </div>
    {% endfor %}                
</div>

{% endblock body %}

{% block script%}
<script></script>
{% endblock script%}