{% extends 'header.html' %} {% load static %} {% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 pt-5 px-5">
        <h5 class="text-success mb-2">Create Loan</h5>
      <form action="/loan/" method="post">
        {% csrf_token %}

        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="title"
            id="title"
            placeholder="Loan Title"
            aria-describedby="loan_title"
          />
        </div>
        <div class="mb-3">
          <input
            type="datetime-local"
            class="form-control"
            name="started_on"
            id="date"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <input
            type="number"
            class="form-control"
            name="amount"
            placeholder="Amount"
            id="amount"
            aria-describedby="emailHelp"
            required
          />
        </div>

        <button
          type="submit"
          style="background-color: #2b6b32; border: none"
          class="btn btn-primary"
        >
          Create Loan
        </button>
      </form>
    </div>
    <div class="col-12 col-md-4 pt-5 px-5">
        <h5  class="text-success mb-2">Pay EMI</h5>
      <form action="/loanEMI/" method="post">
        {% csrf_token %}
        <select
        class="form-select mb-3"
        name="loan"
        id = "loan"
        aria-label="Default select example"
       
        >
        <option selected>-- Loans --</option>
        {% for i in loanData  %}
        <option value='{{i.title}}'>{{i.title}}</option>
        {% endfor %}
       
        </select>

        <div class="mb-3">
          <input
            type="number"
            class="form-control"
            name="amount"
            placeholder="Amount"
            id="amount"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="note"
            placeholder="Note"
            id="note"
            aria-describedby="emailHelp"
          />
        </div>

        <button
          type="submit"
          style="background-color: #2b6b32; border: none"
          class="btn btn-primary"
        >
          Pay EMI
        </button>
      </form>
    </div>
  </div>

  {% endblock body %} {% block script %} {% endblock script %}
</div>
