{% extends 'header.html' %} {% load static %} {% block body %}

<div class="row mx-3 mt-3 mb-2 justify-content-end">
  
 
    <div class="col-2 col-md-1 text-end mb-3">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-filter"></i>
      </button>
    </div>
    <div class="col-8 col-md-3">
      <form class="d-flex" action="/search/" method="post">
          {% csrf_token %}
          <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
 
    <div class="col-9 col-md-1 ">
      <a href= "/reports/" class="btn btn btn-outline-danger form-control">Clear</a>
    </div>
    <div class="col-3 col-md-1">
      <button type="button" onclick="generateCSV()" class="btn btn-success form-control"><i class="fa-solid fa-file-csv"></i></button>
    </div>
 
</div>


<!-- Button trigger modal -->




{% if key %}
<p  class="mt-3 ms-5 text-secondary">Keyword :<b><span id="key" class=" text-success">{{key}}</span></b></p>
{% elif data %}
<p  class="mt-3 ms-5 text-secondary">Keywords :
  {% for j,i in data.items %}
 {% if  i != ""  %}
 {% if j == "payment_type"  %}
            {% for item in i %}
                <b><span id="key" class="text-success">{{ item }},</span></b>
            {% endfor %}
        {% else %}
            <b><span id="key" class="text-success">{{ i }},</span></b>
        {% endif %}
  {% endif %}
  {% endfor %}
</p>
{% else %}
<span id="key" class=" text-success visually-hidden">Expense_Report</span>
{% endif %}

<div class="row mx-2 table-responsive">
  <form method="POST" action="{% url 'delete_records' %}">
  {% csrf_token %}
  <table id ='myTable' class="table">
    <thead>
      <tr>
        <th scope="col" ><input type="checkbox" id="select-all-checkbox"></th>
        <th scope="col" ><button type="submit" class="border-0 bg-transparent"><i class="fa-solid text-info fa-trash"></button></th>
        <th scope="col" class="text-success">Type</th>
        <th scope="col" class="text-success">Category</th>
        <th scope="col" class="text-success">Amount</th>
        <th scope="col" class="text-success">Payment_Date</th>
        <th scope="col" class="text-success">Payment_Time</th>
        <th scope="col" class="text-success">Paid_For</th>
        <th scope="col" class="text-success">Description</th>
        <th scope="col" class="text-success">Date_Created</th>
        <th scope="col"  colspan = 2></th>
       
      </tr>
    </thead>
    <tbody>
      {% if paymentData %} {% for i in paymentData %}
      <tr>
        <td><input type="checkbox" onchange="reviseTotal()" id="select" name="record_ids" value={{ i.id }}></td>
        <td scope="row">{{forloop.counter}}</td>
        <td>{{i.payment_type}}</td>
        <td>{{i.category}}</td>
        {% if i.payment_type == 'Expense' %}
        <td>-{{i.amount | floatformat:2}}</td>
        {% else %}
        <td>{{i.amount | floatformat:2}}</td>
        {% endif %}
        <td>{{i.payment_date | date:"d M Y" }}</td>
        <td>{{i.payment_date | date:"H:i:s" }}</td>
        <td>{{i.payment_for}}</td>
        <td >{{i.description}}</td>
        <td>{{i.created_at | date:"d M Y" }}</td>
        <td><a href={% url 'editEntry' i.id %}><i class="fa-solid text-warning fa-pen"></i></a></td>
        <td><a href={% url 'deleteentry' i.id %}><i class="fa-solid text-danger fa-trash"></i></a></td>
      </tr>
      {% endfor %}{% else %}
      <td colspan="8" class="text-center">No Records found</td>
      {% endif %}
    </tbody>
    <tfoot>
      <tr >
        <td class="text-center border-0"  colspan="4"><b>Total<b></td>
        <td class=" border-0" id="total">{{total | floatformat:2}}</td>
        <td class=" border-0" colspan="7">{{expenseTotal | floatformat:2}}</td>
      </tr>
    </tfoot>
  </table>
</form>
</div>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-center text-success fs-5" id="exampleModalLabel">Filter Report</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
              <form action="/filter/" method="post">
                  {% csrf_token %}  
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" name="payment_type"   {% if "Expense" in data.payment_type  %} checked {% endif %} type="checkbox" id="inlineCheckbox1" value="Expense">
                    <label class="form-check-label" for="inlineCheckbox1">Expense</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" name="payment_type" {% if "Income" in data.payment_type  %} checked {% endif %} type="checkbox" id="inlineCheckbox2" value="Income">
                    <label class="form-check-label" for="inlineCheckbox2">Income</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" name="payment_type" {% if "Loan" in data.payment_type  %} checked {% endif %} type="checkbox" id="inlineCheckbox2" value="Loan">
                    <label class="form-check-label" for="inlineCheckbox2">Loan</label>
                  </div>

                  <select
                  class="form-select text-center mb-2"
                  name="category"
                  aria-label="Default select example"
                 
                >
                  <option {% if data.category == "" %} selected {% endif %} value="">-- CATEGORY --</option>
                  <option {% if data.category == "Loan" %} selected {% endif %} value="M_Loan">Loan</option>
                  <option {% if data.category == "Personal" %} selected {% endif %} value="Personal">Personal</option>
                  <option {% if data.category == "Food" %} selected {% endif %} value="Food">Food</option>
                  <option {% if data.category == "Shopping" %} selected {% endif %} value="Shopping">Shopping</option>
                  <option {% if data.category == "Salary" %} selected {% endif %} value="Salary">Salary</option>
                </select>
                  <select
                    class="form-select text-center mb-2"
                    name="payment_for"
                    aria-label="Default select example"
                   
                  >
                    <option {% if data.payment_for == "" %} selected {% endif %} value="">-- BENEFICIARY --</option>
                    <option {% if data.payment_for == "Mom" %} selected {% endif %}value="Mom">Mom</option>
                    <option {% if data.payment_for == "Dad" %} selected {% endif %}value="Dad">Dad</option>
                    <option {% if data.payment_for == "Home" %} selected {% endif %}value="Home">Home</option>
                    <option {% if data.payment_for == "Myself" %} selected {% endif %}value="Myself">Myself</option>
                    <option {% if data.payment_for == "Other" %} selected {% endif %}value="Other">Other</option>
                  </select>
                <div class="d-flex mb-2">
                  <div class="col-6 col-md-6">
                    <input type="date"  class="form-control" value="{{data.startdate}}" id="startdate" name="startdate">
                  </div>
                  <div class="col-6 col-md-6">
                    <input type="date" class="form-control" value="{{data.enddate}}" id="enddate" name="enddate"  >
                  </div>
                </div>
              <button type="submit" class="btn btn-outline-success col-12 mb-3">Filter<i class="ms-1 fa-solid fa-filter"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}

{% block script %}
<script src="../static/js/report.js"></script>
<script>
  function generateCSV() {
    var table = document.getElementById("myTable");
    var csvContent = "data:text/csv;charset=utf-8,";
    var cont = document.getElementById("key").textContent;
    console.log(cont)
    // Extract the table headers
    var headers = table.getElementsByTagName("th");
    var headerValues = [];
    for (var i = 0; i < headers.length; i++) {
      headerValues.push(headers[i].textContent);
    }
    csvContent += '"' + headerValues.join('","') + '"\r\n';
  
    // Extract the table data
    var rows = table.getElementsByTagName("tr");
    for (var i = 0; i < rows.length; i++) {
      var cells = rows[i].getElementsByTagName("td");
      var rowValues = [];
  
      // Extract cell values
      for (var j = 0; j < cells.length; j++) {
        // Wrap date values in double quotes
        if (j === 2) {
          rowValues.push('"' + cells[j].textContent + '"');
        } else {
          rowValues.push(cells[j].textContent);
        }
      }
      
      // Format the row as CSV and add to the content
      csvContent += rowValues.join(",") + "\r\n";
    }
  
    // Create a download link for the CSV file
    var encodedUri = encodeURI(csvContent);
    var link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", `${cont}.csv`);
    document.body.appendChild(link);
  
    // Trigger the link to start the download
    link.click();
  }

  document.getElementById("select-all-checkbox").addEventListener("change", function() {
    var checkboxes = document.getElementsByName("record_ids");
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = this.checked;
    }
  });

  function reviseTotal(){
    actualTotal = document.getElementById("total")
    console.log(actualTotal.textContent)
    newValue = document.getElementById("select")
    
    console.log(newValue.parentElement.parentElement.children[4])

  }

</script>
{% endblock script %}
