{% extends 'header.html' %} {% load static %} {% block body %}
<div class="container-fluid">
    <h5 class="text-center text-success mt-3">Current Month Task</h5>
        <div class="col-12 px-3 table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th><a href="/taskReports/" class="btn btn-secondary" style="background-color:rgb(77, 168, 104);"><i class="fa-solid fa-square-poll-horizontal"></i></a> </th>
                <th scope="col">Priority</th>
                <th scope="col">Complete_by</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% if taskData %} {% for i in taskData %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.priority}}</td>
                <td>{{i.complete_by | date:"d M, Y" }}</td>
                <td>{{i.task_title}}</td>
                <td>{{i.task_detail}}</td>
                <td><a href={% url 'updatetask' i.id %}><i class="fa-solid text-success fa-check"></i></a></td>
                <td><a href={% url 'deletetask' i.id %}><i class="fa-solid text-danger fa-trash"></i></a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
            <td colspan="8" class = "text-center">No pending task for this month</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        </div>
    </div>
</div> 

{% endblock body %}
{% block script %}
<script>
    function dateCheck(){
        var date = document.getElementById("complete_by").value
        var submit = document.getElementById("submitbutton")
        var current_time = new Date();

        var given_time = new Date(date);
        if (!(given_time > current_time)) {
            alert('Date must be in future')
            submit.setAttribute('disabled',"true")
            }else{
                submit.removeAttribute('disabled')
        }
    }
</script>
{% endblock script %}

