{% extends 'header.html' %} {% load static %} {% block body %}

<div class="row mx-3 mt-3 table-responsive">
  <table id ='myTable' class="table">
    <thead>
      <tr>

        <th></th>
        <th scope="col">Priority</th>
        <th scope="col">Title</th>
        <th scope="col">Detail</th>
        <th scope="col">Complete_by</th>
        <th scope="col">Created_on</th>
        <th scope="col">Status</th>
        <th scope="col">Updated_on</th>
        <th scope="col" colspan = 3></th>
       
      </tr>
    </thead>
    <tbody>
      {% if taskData %} {% for i in taskData %}
      <tr>
        <td scope="row">{{forloop.counter}}</td>
        <td>{{i.priority}}</td>
        <td>{{i.task_title}}</td>
        <td>{{i.task_detail }}</td>
        <td>{{i.complete_by | date:"d M Y"}}</td>
        <td>{{i.created_on | date:"d M Y"}}</td>
        <td>{{i.status}}</td>
        <td>{{i.completed_on | date:"d M Y" }}</td>
        <td><a href={% url 'updatetask' i.id %}><i class="fa-solid text-success fa-check"></i></a></td>
        <td><a href={% url 'incomplete' i.id %}><i class="fa-solid text-warning fa-xmark"></i></a></td>
        <td><a href={% url 'permdeletetask' i.id %}><i class="fa-solid text-danger fa-trash"></i></a></td>
      </tr>
      {% endfor %}{% else %}
      <td colspan="8" class="text-center">No Records found</td>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock body %}