{% extends 'header.html' %} {% load static %} {% block body %}

<div class="d-flex row mt-3 mx-2">
  <div class="col-12 col-md-6">
    <p class="text-success fs-3 " id="key">{{counter_party}}</p>
  </div>
  <div class="col-12 col-md-6 ">
    <form class="d-flex flex-column flex-md-row" action="/ledger-transaction/{{counter_party}}" method="get">
      <input type="date"  class="form-control mx-2 mb-2 mb-md-0"  value="{{query.start}}"   id="start_d" name="start_d">
      <input type="date"  class="form-control mx-2 mb-2 mb-md-0"  value="{{query.end}}"  id="end_d" name="end_d">
      <input class="form-control mx-2 mb-2 mb-md-0" value="{{query.search}}" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success  ms-2 " type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      <a href="/ledger-transaction/{{counter_party}}" class="btn text-danger  ms-2" type="submit">CLEAR</a>
    </form>
  </div>
</div>

<div class="row mx-3 mt-3 table-responsive">
    <form method="POST" action="/update-ledger-transaction-status/">
    {% csrf_token %}

  <table id ='myTable' class="table">
    <thead>
      <tr>
                  <th scope="col" ><input type="checkbox" id="select-all-checkbox"></th>

      <th scope="col"> <a href="/ledger-transaction-details/" class="btn" style=""><i class="fa-solid fa-arrow-left"></i></a>
        <th scope="col" class="text-success">TRANSACTION_TYPE</th>
        <th scope="col" class="text-success">STATUS</th>
        <th scope="col" class="text-success">TRANSACTION_DATE</th>
        <th scope="col" class="text-success">AMOUNT(₹.)</th>
        <th scope="col" class="text-success">COMPLETION_DATE</th>
        <th scope="col" class="text-success">DESCRIPTION</th>
                   <th scope="col" class="text-center" ><button type="submit" class="border-0 text-success bg-transparent"><b>STATUS UPDATE</b></button></th>



      </tr>
    </thead>
    <tbody>
      {% if ledger_trn %}
      {% for i in ledger_trn %}
      <tr>
        <td><input type="checkbox"  id="select" name="record_ledger_ids" value={{ i.id }}></td>

        <td scope="row">{{forloop.counter}}</td>
        <td>{{i.transaction_type}}</td>
        <td class="text-center"><a href="/update-ledger-transaction-status/{{i.id}}">{% if i.status == 'Completed' %}<i class="fa-solid fa-circle-check" style="color: #107556"></i> {%else%} <i class="fa-solid fa-circle-exclamation" style="color: #ecd06a;"></i>{%endif%}</a></td>
        <td >{{i.transaction_date}}</td>
        <td  class = "{% if i.transaction_type == 'Receivable' or i.transaction_type == 'Received' %} text-success {% else %} text-warning {% endif %}" >{{i.amount }}</td>
          {% if i.status == "Completed" %}
        <td >{{i.completion_date}}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        <td >{{i.description}}</td>
        <td><a href="" data-bs-toggle="modal" data-bs-target="#ledgerModal" onclick="openModalAndGetLedger({{ i.id }})"><i class="fa-solid   text-warning fa-pen"></i></a></td>

        <td><a href="/delete-ledger-transaction/{{i.id}}"><i class="fa-solid text-danger fa-trash"></i></a></td>

      {% endfor %}
          {% else %}
      <td colspan="8" class="text-center">No Records found</td>
      {% endif %}
    </tbody>
  </table>
          </form>

</div>



{% include 'ledger_transaction/ledgerTransactionModal.html' %}

{% endblock body %}

{% block script %}
<script src="../static/js/updateLedger.js"></script>
<script>
  document.getElementById("select-all-checkbox").addEventListener("change", function() {
    var checkboxes = document.getElementsByName("record_ledger_ids");
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = this.checked;
    }
  });
</script>

{% endblock script %}
