{% extends 'header.html' %} {% load static %} {% block body %}
<div class = 'row justify-content-between mt-3 mx-3'>
      <div class="d-flex col-md-6 col-sm-6">
    <button id="currentlyOpenBtn" class="btn my-2 border-bottom" type="button" data-bs-toggle="collapse" data-bs-target="#openFinance" aria-expanded="true" aria-controls="openFinance">
        Currently Open
    </button>
    <button id="closedBtn" class="btn my-2 border-bottom my-2 mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#closedFinance" aria-expanded="false" aria-controls="closedFinance">
        Closed
    </button>
    <a href="/finance-details" class="btn my-2 fs-4">
        <i class="fa-solid text-secondary fa-xmark"></i>
    </a>
</div>
<form action="/finance-details" method="get" class="d-flex my-2 col-md-4 col-sm-4" role="search">
    <div class="input-group">
        <input
            class="form-control"
            name="search"
            type="search"
            value="{{search_query}}"
            placeholder="Search"
            aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</form>



</div>

<div class="collapse show" id="openFinance">
<div class="row m-3 ">
{% for  i in details %}
{% if i.status == "Open" %}

    <div class="col-12 col-md-3 col-sm-12 mb-3">
        <a class="text-decoration-none" href="/fetch-financial-transaction/{{ i.id }}">
        <div class="card" >
        <div class="card-body "  style="background-color:#e0f8e363;">
                <div class="d-flex justify-content-between">
                <h5 class="card-title d-inline text-success text-start ">{{i.name | title | truncatechars:25}} </h5>
                    <a href=""  data-bs-toggle="modal" data-bs-target="#financeModal" onclick="openModalAndGetInstrument({{ i.id }})" class="btn border-0 p-0 fs-5" ><i class="fa-solid fa-pencil" style="color: #B197FC;"></i></a>
                </div>
            <div class="d-flex row justify-content-between text-secondary">

            <p class="card-text col-6 text-secondary text-start  ">{{i.started_on | date:"d M Y"}} | {{i.status}} </p>
            <p class="card-text col-5 text-secondary text-end  "> ₹ {{i.remaining_amount}}  | {{i.remaining_installments}}</p>
            </div>
            <div class="d-flex justify-content-between" >
                <div>
            <a  class="btn border-0 me-2 p-0 fs-5 text-start">
                {% if i.type == "Loan" %}
                <i class="fa-solid fa-landmark" style="color: #7c135b;"></i>
                    {% else %}
            <i class="fa-solid fa-hand-holding-dollar" style="color: #367864;"></i>
                    {% endif %}
            </a>
            </div>
                <div>
                    <a href="/update-instrument-status/{{i.id}}" class="btn border-0 me-2 p-0 fs-5"><i class="fa-solid fa-lock-open" style="color: #63E6BE;"></i></a>

            <a href="/remove-instrument/{{i.id}}"  class="btn border-0 p-0  fs-5"  ><i class="fa-solid fa-trash" style="color: #e15656;"></i></a>
            </div>
                </div>
            </div>
        </div>
    </a>
    </div>
    {% endif %}

    {% endfor %}
</div>
</div>

<div class="collapse" id="closedFinance">
<div class="row m-3 ">
{% for  i in details %}
{% if i.status == "Closed" %}
    <div class="col-12 col-md-3 mb-3">
        <a class="text-decoration-none" href="/fetch-financial-transaction/{{ i.id }}">
        <div class="card" >
        <div class="card-body  text-end "  style="background-color:#eceeed5e;">
                <div class="d-flex justify-content-between">
                <h5 class="card-title d-inline  text-secondary  text-start ">{{i.name | title | truncatechars:30}} </h5>
                    <a href=""  data-bs-toggle="modal" data-bs-target=""  class="btn border-0 p-0 fs-5" ></a>
                </div>
            <div class="d-flex row justify-content-between text-secondary">

            <p class="card-text text-secondary col-6 text-start  ">{{i.started_on | date:"d M Y"}} | {{i.status}} </p>
            <p class="card-text text-secondary col-5 text-end  "> ₹ {{i.remaining_amount}}  | {{i.remaining_installments}}</p>
            </div>
            <div class="d-flex justify-content-between" >
                <div>
            <a  class="btn border-0 me-2 p-0 fs-5 text-start">
                {% if i.type == "Loan" %}
                <i class="fa-solid fa-landmark" style="color: #7c135b;"></i>
                    {% else %}
            <i class="fa-solid fa-hand-holding-dollar" style="color: #367864;"></i>
                    {% endif %}
            </a>
            </div>
                <div>
                    <a href="/update-instrument-status/{{i.id}}" class="btn border-0 me-2 p-0 fs-5"><i class="fa-solid fa-lock" style="color: #e24081;"></i></a>

            <a href="/remove-instrument/{{i.id}}"  class="btn border-0 p-0  fs-5"  ><i class="fa-solid fa-trash" style="color: #e15656;"></i></a>
            </div>
                </div>
            </div>
        </div>
    </a>
    </div>

    {% endif %}

    {% endfor %}
</div>
</div>


{% include 'financial_instrument/addFinanceModal.html' %}

{% endblock body %}

{% block script%}
<script src="../static/js/updateFinance.js"></script>

{% endblock script%}